# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://bptptloauiskfcfueaug.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwdHB0bG9hdWlza2ZjZnVlYXVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMzI1MTMsImV4cCI6MjA4ODcwODUxM30.dWrQi3ty-ksgR1jHdNZdNPSEndoBbgikHcJgDUISMVg
